.placeholderImageIcon {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.asset21,
.mindmelddIcon,
.placeholderImageIcon {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.asset21 {
  width: 34.5px;
  max-height: 100%;
  min-height: 40px;
}
.mindmelddIcon {
  height: 20px;
  max-width: 100%;
}
.loremIpsumDolor {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.mindmelddParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.asset21Parent {
  width: 176.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.cihamburgerMdIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  
}
.container,
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
}
.container {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs) var(--padding-5xs)
    var(--padding-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  position:-webkit-sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-dodgerblue);
  font-family: var(--font-rosario);
}
.mediumLengthHero {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  background: linear-gradient(180deg, #82aaef, #3b6bbc 47.5%, #3b76da), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1,
.loremIpsumDolor1 {
  position: relative;
  line-height: 150%;
}
.loremIpsumDolor1 {
  background: linear-gradient(#3b76da, #3b76da), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button1 {
  font-size: var(--text-regular-semi-bold-size);
  font-family: var(--font-rosario);
  color: var(--color-dodgerblue);
  text-align: left;
  display: inline-block;
  min-width: 48px;
  text-decoration: none;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-thistle);
  flex: 1;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 62px;
  white-space: nowrap;
}
.button3 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--font-rosario);
  color: var(--color-dodgerblue);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}
.actions,
.button2,
.column1 {
  display: flex;
  justify-content: center;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.actions,
.column1 {
  align-self: stretch;
}
.actions {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-base) 61px 0;
  gap: var(--gap-base);
}
.column1 {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: var(--text-regular-semi-bold-size);
}
.content,
.layer2Icon {
  align-self: stretch;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-xl);
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.layer2Icon {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.homepage {
  align-self: stretch;
  height: 812px;
  background: linear-gradient(225.75deg, #ffae95, #ece8fb), #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 32px;
  font-family: var(--text-regular-semi-bold);
}
.heading,
.servicesDescription {
  align-self: stretch;
  position: relative;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.servicesDescription {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  color: var(--black);
}
.content2 {
  gap: var(--gap-xl);
}
.content2,
.contentWrapper,
.sectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button5 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--font-rosario);
  color: var(--color-dodgerblue);
  text-align: left;
  display: inline-block;
  min-width: 48px;
  text-decoration: none;
}
.button4 {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: #ece8fb;
  width: 96px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button7 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--font-rosario);
  color: var(--color-dodgerblue);
  text-align: left;
  display: inline-block;
  min-width: 127px;
  text-decoration: none;
}
.actions1,
.button6 {
  display: flex;
  flex-direction: row;
}
.button6 {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-decoration: none;
}
.actions1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-21xl) 0 0;
  gap: var(--gap-base);
}
.groupIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading1,
.servicesListDescriptions {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.servicesListDescriptions {
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.vectorIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading2 {
  position: relative;
  line-height: 130%;
}
.heading2,
.listItem1,
.text {
  align-self: stretch;
}
.text {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem1 {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.groupIcon1 {
  width: 77.1px;
  height: 60px;
  position: relative;
}
.heading3,
.text1 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text1 {
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem2 {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.emojioneMonotonecoupleWithIcon {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading4,
.text2 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text2 {
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem3 {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.vectorIcon1 {
  width: 57.1px;
  height: 60px;
  position: relative;
}
.heading5,
.text3 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text3 {
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem4 {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.vectorIcon2 {
  width: 62.2px;
  height: 60px;
  position: relative;
}
.heading6,
.text4 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text4 {
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem5 {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.vectorIcon3 {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading7,
.text5 {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}
.text5 {
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.listItem6 {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
}
.listItemParent {
  gap: var(--gap-5xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-rosario);
}
.content1,
.listItemParent,
.services {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  gap: var(--gap-29xl);
}
.services {
  background: linear-gradient(225.75deg, #ece8fb 42%, #ffae95 66%, #cec3f6),
    #fff;
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl);
  text-align: left;
  font-size: var(--heading-h2-mobile-size);
  color: var(--color-dodgerblue);
  font-family: var(--text-regular-semi-bold);
}
.conditionsDescription,
.heading8 {
  align-self: stretch;
  position: relative;
}
.heading8 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(#3b76da, #3b76da), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.conditionsDescription {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content4 {
  gap: var(--gap-xl);
}
.content4,
.contentContainer,
.sectionTitle1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bipolar,
.disorder {
  margin: 0;
}
.bipolarDisorder {
  position: relative;
  line-height: 100%;
}
.conditionsGridItem {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) 34.7px var(--padding-21xl) 34.8px;
}
.ocd {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 50px;
}
.ocdWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-33xl) 53.7px var(--padding-33xl) 53.8px;
}
.conditionsGridRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.anxiety {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 76px;
}
.anxietyWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-33xl) var(--padding-21xl-7) var(--padding-33xl)
    var(--padding-21xl-8);
}
.ptsd {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 57px;
}
.ptsdWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-33xl) 50.2px var(--padding-33xl) 50.3px;
}
.conditionsGridRow1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.anxiety1,
.social {
  margin: 0;
}
.socialAnxiety {
  position: relative;
  line-height: 100%;
}
.socialAnxietyWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-21xl-7) var(--padding-21xl)
    var(--padding-21xl-8);
}
.health,
.womens {
  margin: 0;
}
.womensHealth {
  position: relative;
  line-height: 100%;
}
.womensHealthWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) 32.7px var(--padding-21xl) 32.8px;
}
.conditionsGridRow2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.depression {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 115px;
}
.depressionWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-33xl) 21.2px var(--padding-33xl) 21.3px;
}
.adhd,
.adult {
  margin: 0;
}
.adultAdhd {
  position: relative;
  line-height: 100%;
}
.adultAdhdWrapper {
  border-radius: var(--br-5xl);
  background: linear-gradient(237.13deg, #ece8fb, #cabef5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) 45.7px var(--padding-21xl) 45.8px;
}
.conditionsGridRow3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.conditionsGridRowParent {
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-tomato);
  font-family: var(--font-rosario);
  align-items: center;
  justify-content: center;

}
.conditions,
.conditionsGridRowParent,
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content3 {
  gap: var(--gap-29xl);
}
.conditions {
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-45xl) var(--padding-5xl);
  text-align: left;
  font-size: var(--heading-h2-mobile-size);
  color: #888;
  font-family: var(--text-regular-semi-bold);
}
.heading9 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.content6,
.contentFrame,
.sectionTitle2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sectionTitle2 {
  font-size: var(--heading-h2-mobile-size);
  font-family: var(--text-regular-semi-bold);
}
.mdicertificateIcon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.highly,
.qualifiedExperts {
  margin: 0;
}
.heading10 {
  position: relative;
  line-height: 130%;
}
.featuresListDescription {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem7 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  gap: var(--gap-base);
}
.mdicertificateIcon1 {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.confidentiality,
.focusOn {
  margin: 0;
}
.heading11,
.text6 {
  position: relative;
  line-height: 130%;
}
.text6 {
  align-self: stretch;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  gap: var(--gap-base);
}
.mdicertificateIcon2 {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.monitoringSupport,
.ongoing {
  margin: 0;
}
.heading12,
.text7 {
  position: relative;
  line-height: 130%;
}
.text7 {
  align-self: stretch;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem9 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  gap: var(--gap-base);
}
.mdicertificateIcon3 {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.clinicalProtocols,
.proprietary {
  margin: 0;
}
.heading13,
.text8 {
  position: relative;
  line-height: 130%;
}
.text8 {
  align-self: stretch;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem10 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  gap: var(--gap-base);
}
.mdicertificateIcon4 {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.integrationWith,
.psychiatry {
  margin: 0;
}
.heading14 {
  width: 165px;
  position: relative;
  line-height: 130%;
  display: inline-block;
}
.text9 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem11 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg);
  gap: var(--gap-base);
}
.mdicertificateIcon5 {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.peerSupervision,
.personalAnd {
  margin: 0;
}
.heading15,
.text10 {
  position: relative;
  line-height: 130%;
}
.text10 {
  align-self: stretch;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-dimgray);
}
.content5,
.listItem12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.listItem12 {
  border-radius: var(--br-5xs);
  align-items: center;
  padding: var(--padding-lg);
  gap: var(--gap-base);
}
.content5 {
  align-items: flex-start;
  gap: var(--gap-29xl);
}
.connectWith,
.usOn {
  margin: 0;
}
.heading16 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-mobile-size);
  line-height: 120%;
  font-weight: 700;
  font-family: var(--text-regular-semi-bold);
}
.materialSymbolsvideoChatIcon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text11 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
}
.avatar,
.avatarContent,
.column2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar,
.column2 {
  align-items: center;
}
.avatar {
  gap: var(--gap-base);
}
.column2 {
  overflow: hidden;
}
.featuresAvatarGridItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  min-width: 149px;
}
.materialSymbolsassignmentTuIcon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text12 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 81px;
}
.avatar1,
.avatarContent1,
.column3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar1,
.column3 {
  align-items: center;
}
.avatar1 {
  gap: var(--gap-base);
}
.column3 {
  overflow: hidden;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  min-width: 161px;
}
.featuresAvatarGridRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: var(--gap-21xl);
}
.materialSymbolscontactPhoneIcon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text13 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 73px;
}
.avatar2,
.avatarContent2,
.column4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar2,
.column4 {
  align-items: center;
}
.avatar2 {
  gap: var(--gap-base);
}
.column4 {
  overflow: hidden;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  min-width: 153px;
}
.materialSymbolsmarkChatReaIcon {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.counselling,
.outside {
  margin: 0;
}
.text14 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.avatar3,
.avatarContent3,
.column5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar3,
.column5 {
  align-items: center;
}
.avatar3 {
  gap: var(--gap-base);
}
.column5 {
  overflow: hidden;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  min-width: 160px;
}
.columnParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  gap: var(--gap-21xl);
}
.features,
.featuresAvatarGridRowParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--text-regular-semi-bold-size);
  color: var(--black);
}
.features {
  background-color: #f1f1f1;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-45xl) var(--padding-5xl);
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-dodgerblue);
  font-family: var(--font-rosario);
}
.heading17 {
  margin: 0;
  align-self: center;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.content7,
.sectionTitle3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sectionTitle3 {
  font-size: var(--heading-h2-mobile-size);
  font-family: var(--text-regular-semi-bold);
}
.placeholderImageIcon1 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  
}
.wrapperPlaceholderImage {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.name,
.teamBio {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.name {
  font-weight: 600;
  min-width: 83px;
}
.teamBio {
  font-size: var(--text-medium-normal-size);
  color: var(--black);
  min-width: 63px;
}
.card,
.content8,
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card,
.content8 {
  justify-content: center;
}
.card {
  align-self: stretch;
  height: 401px;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs-9) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.placeholderImageIcon2 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name1,
.text15 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.name1 {
  font-weight: 600;
  min-width: 83px;
}
.text15 {
  font-size: var(--text-medium-normal-size);
  color: var(--black);
  min-width: 63px;
}
.card1,
.content9,
.title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card1,
.content9 {
  justify-content: center;
}
.card1 {
  height: 401px;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs-9) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.card1,
.heading18,
.team {
  align-self: stretch;
}
.team {
  background: linear-gradient(
      225.75deg,
      #ece8fb 36.5%,
      rgba(255, 174, 149, 0.5) 66%,
      #cec3f6
    ),
    #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-xl);
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-dodgerblue);
  font-family: var(--font-rosario);
}
.heading18 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.button9 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--font-rosario);
  color: var(--black);
  text-align: left;
  display: inline-block;
  min-width: 48px;
  text-decoration: none;
}
.button8 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-thistle);
  width: 96px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button11 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--font-rosario);
  color: var(--black);
  text-align: left;
  display: inline-block;
  min-width: 127px;
  text-decoration: none;
}
.actions2,
.button10 {
  display: flex;
  flex-direction: row;
}
.button10 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.actions2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-29xl) 0 0;
  gap: var(--gap-base);
}
.content10 {
  gap: var(--gap-xl);
}
.column6,
.content10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.asset211,
.cta {
  align-self: stretch;
  overflow: hidden;
}
.cta {
  background: linear-gradient(225.75deg, #ece8fb 42%, #ffae95 66%, #cec3f6),
    #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-xl);
  text-align: left;
  font-size: var(--heading-h2-mobile-size);
  color: var(--black);
  font-family: var(--text-regular-semi-bold);
}
.asset211 {
  height: 80px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.services1 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 63px;
}
.servicesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 2px;
}
.experts {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
}
.expertsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 0 6.5px;
}
.offerings {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 68px;
}
.footerLinks,
.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footerLogo {
  width: 68.9px;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.footerLeft {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.span,
.span1 {
  color: var(--black);
  align-items: center;
  justify-content: center;

}
.text16 {
  position: relative;
  line-height: 150%;
  align-items: center;
  justify-content: center;
}
.footerParagraph {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 25.5px;
}
.sector116Noida,
.span2 {
  color: var(--black);
}
.text17 {
  position: relative;
  line-height: 150%;
}
.footerContent,
.footerRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.footerRight {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-45xl);
  font-size: var(--text-medium-normal-size);
  color: var(--color-dodgerblue);
  font-family: var(--font-rosario);
}
.divider {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--black);
  max-width: 100%;
}
.credits,
.footer,
.mob {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits {
  align-self: stretch;
  height: 17px;
  flex-direction: row;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.footer,
.mob {
  flex-direction: column;
}
.footer {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-29xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--black);
  font-family: var(--text-regular-semi-bold);
}
.mob {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
.dropdownMenu {
  position: absolute;
  top: 60px; /* Adjust based on your layout */
  right: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px; /* Add this line to apply border radius */
  overflow: hidden; /* Add this line to ensure child elements respect the border radius */
}

.dropdownButton {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdownButton:hover {
  background-color: #f0f0f0;
}

.dropdownButtonLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue-200);
  border: 1px solid var(--color-dodgerblue-200);
  padding: var(--padding-7xs) var(--padding-lgi);
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}
.button1 {
  position: relative;
  line-height: 150%;
  color: var(--color-white);
  display: inline-block;
  min-width: 38px;
}
