.placeholderImageIcon {
  align-self: stretch;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  transform: scale(1.041);
  border-radius: 50px;
}
.wrapperPlaceholderImage {
  align-self: stretch;
  height: 395px;
  position: relative;
  border-radius: var(--br-5xl);
  width: 145%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-dodgerblue-200);
  margin-top: 55px;
  justify-content: center;
  align-items: center;
}
.bio,
.jobTitle,
.name {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  justify-content: center;
  align-items: center;
}
.card,
.content,
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content,
.title {
  align-self: stretch;
  align-items: center;
}
.card {
  width: 215px;
  flex-shrink: 1;
  align-items: center;
  gap: 0px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5x1);
  color: var(--black);
  font-family: var(--font-rosario);
  margin-left: 260px;
  
}
.name,
.jobTitle {
  margin-left: 55px; /* Adjust the margin as needed */
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  .name {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
}