.placeholderImageIcon {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.041);
}
.wrapperPlaceholderImage {
  align-self: stretch;
  height: 395px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobTitle,
.name,
.text {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.name {
  font-weight: 600;
  color: var(--color-gray-200);
}
.jobTitle,
.text {
  font-size: var(--text-regular-normal-size);
}
.jobTitle {
  font-size: var(--text-medium-normal-size);
}
.card,
.content,
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content,
.title {
  align-self: stretch;
  align-items: center;
}
.card {
  width: 400px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-large-semi-bold-size);
  color: var(--black);
  font-family: var(--text-small-link);
}
@media screen and (max-width: 450px) {
  .name {
    font-size: var(--text-regular-normal-size);
    line-height: 24px;
  }
}
