.materialSymbolscontactPhoneIcon {
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
}
.avatar,
.avatarContent,
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.avatarContent {
  align-self: stretch;
  align-items: flex-start;
}
.avatar,
.column {
  align-items: center;
}
.avatar {
  align-self: stretch;
  gap: var(--gap-base);
}
.column {
  flex: 1;
  overflow: hidden;
  min-width: 225px;
  max-width: 300px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--black);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 450px) {
  .text {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .column {
    gap: var(--gap-base);
  }
}
