.column,
.heading {
  flex: 1;
  max-width: 100%;
}
.heading {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.column {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
}
.textSuspendisseVarius {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.column1 {
  flex: 1;
  min-width: 400px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.column1,
.content,
.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-61xl);
}
.contentWrapper {
  align-self: stretch;
  padding: 0 var(--padding-45xl);
  box-sizing: border-box;
}
.placeholderImageIcon {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 119%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.bipolar,
.disorder {
  margin: 0;
}
.bipolarDisorder {
  margin: 0 !important;
  width: 220px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 109.5px);
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapperPlaceholderImageParent {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 333px;
  max-width: 100%;
}
.placeholderImageIcon1 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage1 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 119%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.ocd {
  margin: 0 !important;
  width: 124px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 61.5px);
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapperPlaceholderImageGroup {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 333px;
  max-width: 100%;
}
.placeholderImageIcon2 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage2 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 119%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.anxiety {
  margin: 0 !important;
  width: 190px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 94.5px);
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapperPlaceholderImageContainer {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 333px;
  max-width: 100%;
}
.placeholderImageIcon3 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage3 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 119%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.ptsd {
  margin: 0 !important;
  width: 143px;
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 71px);
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frameDiv {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 333px;
  max-width: 100%;
}
.placeholderImageIcon4 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage4 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 120%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.anxiety1,
.social {
  margin: 0;
}
.socialAnxiety {
  margin: 0 !important;
  width: 190px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 94.5px);
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapperPlaceholderImageParent1 {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 332px;
  max-width: 100%;
}
.placeholderImageIcon5 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage5 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 120%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.health,
.womens {
  margin: 0;
}
.womensHealth {
  margin: 0 !important;
  width: 228px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 113.5px);
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapperPlaceholderImageParent2 {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 332px;
  max-width: 100%;
}
.placeholderImageIcon6 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage6 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 120%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.depression {
  margin: 0 !important;
  width: 286px;
  position: absolute;
  top: 115px;
  left: 40px;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.wrapperPlaceholderImageParent3 {
  height: 320px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 332px;
  max-width: 100%;
}
.placeholderImageIcon7 {
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  height: 100%;
  transform: scale(1.05);
}
.wrapperPlaceholderImage7 {
  width: 416px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-height: 100%;
  max-width: 120%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.adhd,
.adult {
  margin: 0;
}
.adultAdhd {
  margin: 0 !important;
  width: 165px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 43.5px);
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.conditions,
.content1,
.wrapperPlaceholderImageParent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.wrapperPlaceholderImageParent4 {
  height: 320px;
  flex: 1;
  flex-direction: column;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 332px;
}
.conditions,
.content1 {
  align-self: stretch;
}
.content1 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 16px 14px;
  min-height: 656px;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-tomato);
}
.conditions {
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) 0 var(--padding-63xl);
  gap: var(--gap-91xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-dodgerblue-200);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 1200px) {
  .conditions {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .anxiety,
  .bipolarDisorder,
  .ocd,
  .ptsd {
    font-size: var(--font-size-29xl);
    line-height: 48px;
  }
  .anxiety,
  .ocd,
  .ptsd {
    line-height: 72px;
  }
  .adultAdhd,
  .depression,
  .socialAnxiety,
  .womensHealth {
    font-size: var(--font-size-29xl);
    line-height: 48px;
  }
  .adultAdhd,
  .depression {
    line-height: 72px;
  }
  .adultAdhd {
    line-height: 48px;
  }
}
@media screen and (max-width: 750px) {
  .column,
  .column1 {
    min-width: 100%;
  }
  .content {
    gap: var(--gap-21xl);
  }
  .contentWrapper {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .conditions {
    gap: var(--gap-36xl);
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .content {
    gap: var(--gap-xl);
  }
  .anxiety,
  .bipolarDisorder,
  .ocd,
  .ptsd {
    font-size: var(--font-size-17xl);
    line-height: 36px;
  }
  .anxiety,
  .ocd,
  .ptsd {
    line-height: 54px;
  }
  .adultAdhd,
  .depression,
  .socialAnxiety,
  .womensHealth {
    font-size: var(--font-size-17xl);
    line-height: 36px;
  }
  .adultAdhd,
  .depression {
    line-height: 54px;
  }
  .adultAdhd {
    line-height: 36px;
  }
  .conditions {
    gap: var(--gap-8xl);
  }
}
