.asset21,
.mindmelddIcon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.asset21 {
  height: 40px;
  width: 34.5px;
}
.mindmelddIcon {
  align-self: stretch;
  height: 24px;
  max-width: 100%;
}
.composite {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.asset21Parent,
.rasterImage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.asset21Parent {
  width: 202.2px;
  justify-content: flex-start;
  gap: var(--gap-xs-9);
}
.rasterImage {
  width: 395px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.experts,
.offerings,
.services {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.experts,
.offerings {
  min-width: 51px;
}
.offerings {
  min-width: 62px;
}
.container,
.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.links {
  width: 233px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.container {
  width: 395px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.span,
.span1 {
  color: var(--black);
}
.fillParent {
  position: relative;
  line-height: 150%;
}
.sector116Noida,
.span2 {
  color: var(--black);
}
.fillParent1 {
  position: relative;
  line-height: 150%;
}
.content,
.fitContent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.fitContent {
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue-200);
}
.content {
  flex-direction: column;
  align-items: center;
}
.content,
.credits,
.divider,
.footer {
  align-self: stretch;
  max-width: 100%;
}
.divider {
  flex: 1;
  position: relative;
  background-color: var(--black);
}
.credits,
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits {
  height: 1px;
  flex-direction: row;
}
.footer {
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-45xl) var(--padding-55xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 750px) {
  .credits {
    gap: var(--gap-base);
  }
  .footer {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .fitContent {
    flex-wrap: wrap;
  }
  .content,
  .fitContent {
    gap: var(--gap-base);
  }
  .footer {
    gap: var(--gap-xl);
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-29xl);
    box-sizing: border-box;
  }
}
