.homepage {
  align-self: stretch;
  background: linear-gradient(225.75deg, #ffae95, #ece8fb),
    linear-gradient(180deg, #f1f1f1, #dad1fb);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-7);
  box-sizing: border-box;
  gap: var(--gap-111xl-4);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-dodgerblue-200);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 750px) {
  .homepage {
    gap: var(--gap-46xl);
  }
}
@media screen and (max-width: 450px) {
  .homepage {
    gap: var(--gap-14xl);
  }
}
