.groupIcon {
  width: 77.1px;
  height: 60px;
  position: relative;
}
.heading,
.text {
  align-self: stretch;
  position: relative;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.listItem {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #ece8fb, #cabef5);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dodgerblue-200);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
}
