.gameIconsovermind {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.mindmelddIcon {
  height: 24px;
  width: 155.8px;
  position: relative;
}
.gameIconsovermindParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.linkThree,
.linkThree1,
.linkTwo {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.linkThree,
.linkThree1 {
  min-width: 55px;
}
.linkThree1 {
  min-width: 67px;
}
.column1 {
  margin: 0;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--black);
  font-family: var(--text-small-link);
}
.button1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 81px;
}
.button {
  border-radius: var(--br-5xs);
  background-color: var(--color-thistle-100);
  border: 1px solid var(--color-dodgerblue-200);
  padding: var(--padding-7xs) var(--padding-lgi);
  white-space: nowrap;
}
.actions,
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.column,
.container,
.navbar1 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.column {
  width: 401px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-13xl);
}
.container,
.navbar1 {
  align-self: stretch;
}
.container {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar1 {
  background-color: var(--color-whitesmoke);
  border-bottom: 1px solid var(--color-dodgerblue-300);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base) var(--padding-45xl) var(--padding-sm);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--text-regular-normal-size);
  color: var(--color-dodgerblue-200);
  font-family: var(--text-small-link);
}
@media screen and (max-width: 750px) {
  .column1 {
    display: none;
  }
  .column {
    width: 153px;
  }
  .navbar1 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .column {
    gap: var(--gap-base);
  }
}
