.frameChild {
  width: 85.2px;
  height: 70.3px;
  position: relative;
  object-fit: contain;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.sectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container,
.content,
.content1,
.frameParent,
.offer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 560px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
}
.container,
.content,
.content1,
.offer {
  flex-direction: row;
}
.content1 {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 var(--padding-37xl);
  box-sizing: border-box;
  row-gap: 20px;
}
.container,
.content,
.offer {
  align-self: stretch;
  align-items: center;
}
.container,
.offer {
  flex-direction: column;
  font-size: var(--font-size-5xl);
}
.offer {
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--black);
  font-family: var(--text-small-link);
}
@media screen and (max-width: 1200px) {
  .content1 {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
}
@media screen and (max-width: 750px) {
  .content {
    gap: var(--gap-base);
  }
  .container {
    gap: var(--gap-5xl);
  }
  .offer {
    gap: var(--gap-21xl);
    padding: var(--padding-54xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .offer {
    gap: var(--gap-xl);
  }
}
