.vectorIcon {
  position: absolute;
  height: 53.12%;
  width: 58.31%;
  top: 38.26%;
  right: 57.9%;
  bottom: 8.63%;
  left: -16.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.button1,
.text {
  position: relative;
  line-height: 150%;
}
.text {
  align-self: stretch;
  font-size: var(--text-medium-normal-size);
  color: var(--color-gray-200);
}
.button1 {
  font-size: var(--text-regular-normal-size);
  font-family: var(--text-small-link);
  color: var(--color-dodgerblue-200);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-lavender-100);
  width: 98px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover,
.button:hover {
  background-color: var(--color-lavender-200);
  border: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
}
.button3 {
  position: relative;
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--color-dodgerblue-200);
  text-align: left;
}
.actions,
.button2 {
  display: flex;
  flex-direction: row;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-dodgerblue-400);
}
.actions {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
}
.content1 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.content1,
.contentWrapper,
.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentWrapper {
  align-self: stretch;
}
.sectionTitle {
  width: 380px;
  min-width: 380px;
  max-width: 100%;
}
.groupIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading1,
.sequenceHandler {
  align-self: stretch;
  position: relative;
}
.heading1 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.sequenceHandler {
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
}
.searchIndexerIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.graphParser,
.heading2 {
  align-self: stretch;
  position: relative;
}
.heading2 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.graphParser {
  height: 96px;
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
  display: inline-block;
}
.list,
.listItem1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listItem1 {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
}
.list {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.groupIcon1 {
  width: 77.1px;
  height: 60px;
  position: relative;
}
.heading3,
.text1 {
  align-self: stretch;
  position: relative;
}
.heading3 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text1 {
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem2 {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
}
.emojioneMonotonecoupleWithIcon {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading4,
.text2 {
  align-self: stretch;
  position: relative;
}
.heading4 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text2 {
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.list1,
.listItem3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listItem3 {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
}
.list1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.vectorIcon1 {
  width: 57.1px;
  height: 60px;
  position: relative;
}
.heading5,
.text3 {
  align-self: stretch;
  position: relative;
}
.heading5 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text3 {
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem4 {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
}
.vectorIcon2 {
  width: 62.2px;
  height: 60px;
  position: relative;
}
.heading6,
.text4 {
  align-self: stretch;
  position: relative;
}
.heading6 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text4 {
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.list2,
.listItem5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listItem5 {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
}
.list2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.timeSeriesProcessor {
  width: 60px;
  height: 60px;
  position: relative;
}
.fuzzyMatcher,
.heading7 {
  align-self: stretch;
  position: relative;
}
.heading7 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.fuzzyMatcher {
  font-size: var(--text-regular-normal-size);
  line-height: 150%;
  color: var(--color-dimgray);
}
.listItem6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.list3 {
  align-self: stretch;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-base);
}
.content,
.content2,
.list3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
  min-width: 554px;
  font-size: var(--font-size-13xl);
}
.content {
  position: absolute;
  top: 112px;
  left: 64px;
  width: 1312px;
  flex-direction: row;
  gap: var(--gap-61xl);
  z-index: 1;
}
.flower9Blues {
  height: 9.17%;
  width: 9.13%;
  top: 35.47%;
  right: 88.19%;
  bottom: 55.36%;
  left: 2.67%;
  object-fit: contain;
}
.flower9Blues,
.flower9Blues1,
.flower9Blues2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.flower9Blues1 {
  height: 5.88%;
  width: 5.86%;
  top: 72.02%;
  right: 64.63%;
  bottom: 22.11%;
  left: 29.51%;
  object-fit: contain;
}
.flower9Blues2 {
  height: 6.3%;
  width: 6.49%;
  top: 85.85%;
  right: 73.01%;
  bottom: 7.84%;
  left: 20.49%;
}
.anomalyDetectorIcon,
.associationRuleMiner,
.graphClassifierIcon,
.sequenceClassifierIcon {
  position: absolute;
  height: 5.99%;
  width: 6.2%;
  top: 86.67%;
  right: 83.58%;
  bottom: 7.35%;
  left: 10.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.anomalyDetectorIcon,
.graphClassifierIcon,
.sequenceClassifierIcon {
  height: 4.99%;
  width: 5.39%;
  top: 43.89%;
  right: 96.06%;
  bottom: 51.12%;
  left: -1.44%;
  z-index: 3;
}
.graphClassifierIcon,
.sequenceClassifierIcon {
  height: 3.57%;
  width: 3.25%;
  top: 29.53%;
  right: 66.06%;
  bottom: 66.9%;
  left: 30.69%;
  z-index: 2;
}
.graphClassifierIcon {
  height: 4.03%;
  width: 4.15%;
  top: 33.84%;
  right: 86.05%;
  bottom: 62.13%;
  left: 9.81%;
  z-index: 3;
}
.services {
  align-self: stretch;
  height: 1428px;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--color-dodgerblue-200);
  font-family: var(--text-small-link);
}
@media screen and (max-width: 1200px) {
  .sectionTitle {
    flex: 1;
  }
  .content {
    flex-wrap: wrap;
  }
  .services {
    height: auto;
    min-height: 1428;
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .heading1,
  .heading2 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .list {
    flex-wrap: wrap;
  }
  .heading3,
  .heading4 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .list1 {
    flex-wrap: wrap;
  }
  .heading5,
  .heading6 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .list2 {
    flex-wrap: wrap;
  }
  .heading7 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
}
@media screen and (max-width: 750px) {
  .content2,
  .sectionTitle {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .actions {
    flex-wrap: wrap;
  }
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .heading5,
  .heading6,
  .heading7 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
}
