.asset11 {
  position: absolute;
  top: 516px;
  left: -33px;
  width: 532px;
  height: 713px;
  overflow: hidden;
}
.heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.button1,
.description {
  position: relative;
  line-height: 150%;
  text-decoration: none;
}
.description {
  align-self: stretch;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-gray-400);
}
.button1 {
  font-size: var(--font-size-base);
  font-family: var(--font-rosario);
  color: var(--color-dodgerblue-200);
  text-align: left;
  display: inline-block;
  min-width: 48px;
  text-decoration: none;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-lavender-100);
  width: 96px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover,
.button:hover {
  background-color: var(--color-lavender-200);
  border: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
}
.button3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  font-family: var(--font-rosario);
  color: var(--color-dodgerblue-200);
  text-align: left;
  display: inline-block;
  min-width: 127px;
  text-decoration: none;
}
.actions,
.button2 {
  display: flex;
  flex-direction: row;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--color-dodgerblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-dodgerblue-400);
}
.actions {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-74xl) 0 0;
  gap: var(--gap-base);
}
.content1 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.content1,
.contentWrapper,
.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentWrapper {
  align-self: stretch;
}
.sectionTitle {
  width: 380px;
  min-width: 380px;
  max-width: 100%;
}
.groupIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading1,
.itemDescription {
  align-self: stretch;
  position: relative;
}
.heading1 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.itemDescription {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.listItem {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
}
.listIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.comprehensiveEvaluationsAnd {
  margin: 0;
}
.text {
  align-self: stretch;
  height: 96px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
  display: inline-block;
}
.list,
.listItem1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listItem1 {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
}
.list {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.groupIcon1 {
  width: 77.1px;
  height: 60px;
  position: relative;
}
.heading3,
.text1 {
  align-self: stretch;
  position: relative;
}
.heading3 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text1 {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.listItem2 {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
}
.emojioneMonotonecoupleWithIcon {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading4,
.text2 {
  align-self: stretch;
  position: relative;
}
.heading4 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text2 {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.list1,
.listItem3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listItem3 {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
}
.list1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.vectorIcon {
  width: 57.1px;
  height: 60px;
  position: relative;
}
.heading5,
.text3 {
  align-self: stretch;
  position: relative;
}
.heading5 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text3 {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.listItem4 {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
  max-width: 100%;
}
.vectorIcon1 {
  width: 62.2px;
  height: 60px;
  position: relative;
}
.heading6,
.text4 {
  align-self: stretch;
  position: relative;
}
.heading6 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text4 {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.list2,
.listItem5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.listItem5 {
  flex: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-base);
  gap: var(--gap-5xl);
  min-width: 261px;
}
.list2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
}
.singleListIcon {
  width: 60px;
  height: 60px;
  position: relative;
}
.heading7,
.text5 {
  align-self: stretch;
  position: relative;
}
.heading7 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text5 {
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--black);
}
.listItem6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.list3 {
  align-self: stretch;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #e9e6e5, #ffae95);
  border: 2px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-base);
}
.content,
.content2,
.list3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
  min-width: 554px;
  font-size: var(--font-size-13xl);
}
.content {
  position: absolute;
  top: 112px;
  left: 64px;
  width: 1312px;
  flex-direction: row;
  gap: var(--gap-61xl);
  z-index: 1;
}
.services1 {
  height: 1428px;
  flex: 1;
  position: relative;
  background: linear-gradient(225.75deg, #ece8fb 42%, #ffae95 66%, #cec3f6),
    #f1f1f1;
  overflow: hidden;
  max-width: 100%;
}
.services {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-dodgerblue-200);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 1200px) {
  .sectionTitle {
    width: 100%;
    min-width: auto;
    max-width: 100%;
  }
  .content {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
  }
  .services1 {
    height: auto;
    min-height: 1428px; /* You might want to adjust this value */
  }
}

@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .heading5,
  .heading6,
  .heading7 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .list,
  .list1,
  .list2 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .actions {
    flex-wrap: wrap;
  }
  .content2,
  .sectionTitle {
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .heading1,
  .heading2,
  .heading3,
  .heading4,
  .heading5,
  .heading6,
  .heading7 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
}
