.heading {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.content,
.sectionTitle {
  display: flex;
  flex-direction: column;
}
.content {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
}
.sectionTitle {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  min-width: 158px;
}
.frameIcon,
.vectorIcon {
  height: 54px;
  width: 53.9px;
  position: relative;
}
.frameIcon {
  height: 22px;
  width: 22px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -4px;
}
.imageMillilliard,
.shapeNonilliard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.shapeNonilliard {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 var(--padding-954xl) 0 0;
  gap: var(--gap-5xl);
}
.placeholderImageIcon {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.041);
}
.wrapperPlaceholderImage {
  align-self: stretch;
  height: 395px;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-gray-200);
}
.imageGallery,
.jobTitle,
.name {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.card,
.content3,
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content3,
.title {
  align-self: stretch;
  align-items: center;
}
.card {
  width: 400px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.placeholderImageIcon1 {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.041);
}
.wrapperPlaceholderImage1 {
  align-self: stretch;
  height: 395px;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-gray-200);
}
.jobTitle1,
.name1,
.text {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.card1,
.content4,
.title1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content4,
.title1 {
  align-self: stretch;
  align-items: center;
}
.card1 {
  width: 400px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.placeholderImageIcon2 {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.041);
}
.wrapperPlaceholderImage2 {
  align-self: stretch;
  height: 395px;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name2 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-gray-200);
}
.jobTitle2,
.name2,
.text1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.card2,
.content5,
.title2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content5,
.title2 {
  align-self: stretch;
  align-items: center;
}
.card2 {
  width: 400px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.placeholderImageIcon3 {
  align-self: stretch;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  transform: scale(1.041);
}
.wrapperPlaceholderImage3 {
  align-self: stretch;
  height: 395px;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-gray-200);
}
.jobTitle3,
.loremIpsumDolor,
.name3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.card3,
.content2,
.content6,
.title3 {
  display: flex;
  justify-content: flex-start;
}
.content6,
.title3 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.card3,
.content2 {
  align-items: flex-start;
  max-width: 100%;
}
.card3 {
  width: 400px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.content2 {
  width: 1312px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-29xl);
}
.dot,
.dot1,
.dot2,
.dot3,
.dot4 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--black);
}
.dot1,
.dot2,
.dot3,
.dot4 {
  background-color: var(--color-gray-100);
}
.buttonBar,
.sliderDots {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sliderDots {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.buttonBar {
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-2xs);
  background-color: transparent;
  height: 48px;
  width: 48px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-2xs);
  background-color: transparent;
  height: 48px;
  width: 48px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sliderButtons {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.content1,
.content7,
.row,
.sliderButtons,
.team {
  display: flex;
  align-items: flex-start;
}
.content7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.content1,
.row,
.team {
  justify-content: flex-start;
  max-width: 100%;
}
.row {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-29xl);
}
.content1,
.team {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-lg);
  color: var(--black);
}
.team {
  background: linear-gradient(225.75deg, #ece8fb 42%, #b2d5ee 66%, #cec3f6),
    #ece8fb;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-dodgerblue-200);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 1200px) {
  .shapeNonilliard {
    padding-right: var(--padding-467xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .team {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .shapeNonilliard {
    padding-right: var(--padding-224xl);
    box-sizing: border-box;
  }
  .content2,
  .row {
    gap: var(--gap-5xl);
  }
  .content1 {
    gap: var(--gap-29xl);
  }
  .team {
    gap: var(--gap-21xl);
    padding: var(--padding-28xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .shapeNonilliard {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .name,
  .name1,
  .name2,
  .name3 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .content7 {
    flex-wrap: wrap;
  }
  .content1 {
    gap: var(--gap-5xl);
  }
  .team {
    gap: var(--gap-xl);
  }
}
