.heading {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sectionTitle {
  flex: 1;
  justify-content: flex-start;
}
.sectionTitle,
.testimonialHeader,
.testimonialHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.testimonialHeader {
  width: 560px;
  justify-content: flex-start;
}
.testimonialHeaderWrapper {
  align-self: stretch;
  justify-content: center;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-2xs);
  background-color: transparent;
  height: 48px;
  width: 48px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.textSuspendisseVarius {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.name {
  font-weight: 600;
}
.name,
.title {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.avatar,
.avatarContent,
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.avatarContent {
  align-self: stretch;
  align-items: flex-start;
}
.avatar,
.column {
  align-items: center;
  max-width: 100%;
}
.avatar {
  width: 340px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.column {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-13xl);
  min-width: 276px;
}
.textSuspendisseVarius1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text {
  font-weight: 600;
}
.text,
.text1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.avatar1,
.avatarContent1,
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.avatarContent1 {
  align-self: stretch;
  align-items: flex-start;
}
.avatar1,
.column1 {
  align-items: center;
  max-width: 100%;
}
.avatar1 {
  width: 340px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.column1 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-13xl);
  min-width: 276px;
}
.textSuspendisseVarius2 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text2 {
  font-weight: 600;
}
.text2,
.text3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.avatar2,
.avatarContent2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.avatarContent2 {
  align-self: stretch;
  align-items: flex-start;
}
.avatar2 {
  width: 340px;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
}
.column2,
.content1 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.column2 {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 276px;
}
.content1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  min-width: 749px;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button1,
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-2xs);
  background-color: transparent;
  height: 48px;
  width: 48px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
}
.content {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.dot,
.dot1,
.dot2,
.dot3,
.dot4 {
  height: 8px;
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--black);
}
.dot1,
.dot2,
.dot3,
.dot4 {
  background-color: var(--color-gray-100);
}
.sliderDots {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-4xs);
}
.container,
.dotsContainer,
.testimonials {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.dotsContainer {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.container,
.testimonials {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.testimonials {
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--black);
  font-family: var(--font-rosario);
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .content1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .content {
    gap: var(--gap-base);
  }
  .container {
    gap: var(--gap-5xl);
  }
  .testimonials {
    gap: var(--gap-21xl);
    padding: var(--padding-54xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .textSuspendisseVarius {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .column {
    gap: var(--gap-base);
  }
  .textSuspendisseVarius1 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .column1 {
    gap: var(--gap-base);
  }
  .textSuspendisseVarius2 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .column2 {
    gap: var(--gap-base);
  }
  .testimonials {
    gap: var(--gap-xl);
  }
}
